/* Universal Styles*/

body {
  font-family: "Hevetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

a {
  color: seashell;
}

nav span {
  display: inline-block;
  text-decoration: underline;
  padding-right: 20px;
}

/* Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
}


.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
    height: 50px;
}

/* Main Section */
.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
  align-items: center;
}

/* Mission Section */

#mission {
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  padding-top: 70px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#mission .content {
  width: 1200px;
  margin: auto;
  background-color: black;
}

/* Tea Month Items*/
#tea-month {
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 20px;
}

.tea-items {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.item {
  padding: 10px;
}

.item img {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}

.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

/* Location Section */

#locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  margin-top: 20px;
  padding-top: 70px;
}

#locations .locate-container {
  margin: auto;
}

.locate-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.locate {
  opacity: 1.0;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

/* Contact Section */

#contact {
  display: flex;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}

/* Footer Section */

footer {
  text-align: left;
  padding-left: 20px;
}
